.fundo {
  background-image: url(../images/fundo-pousada.png);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  
}


/* Estilos gerais da página */
.pagamento-container {
  width: 80vh;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
  background-color: #2F2F55; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 65vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
 


}

.pagamento-titulo {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(255, 255, 255); 
  font-size: 7vh;

}


/* Estilos para mensagens de erro */
.pagamento-erro {
  color: #ff4d4d;
  font-size: 1rem;
  background: rgba(255, 77, 77, 0.1);
  padding: 12px 20px;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 4px 12px rgba(234, 22, 22, 0.3);
}

/* Formulário */
.pagamento-formulario {
  background-color: #2f2f55f9; /* Fundo mais claro para contraste */
  padding: 30px;
  border-radius: 15px;
   width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 80vh;
 
}


/* Estilo dos campos do formulário */
.pagamento-campo label {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #f5f5f5;
  display: block;
  
}

.pagamento-campo input {
  padding: 12px;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.pagamento-campo input:focus {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(255, 179, 15, 0.5); /* Sombra dourada */
}

/* Botão de pagamento */
.pagamento-botao {
  width: 25vh;
  margin-left:14vh;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: rgb(250, 133, 0);
  background: radial-gradient(circle, rgb(250, 133, 0) 0%, rgb(255, 179, 15) 100%);
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagamento-botao:hover {
  background-color: #ff9c33;
  transform: translateY(-2px);
}

/* Botão de voltar - Agora igual ao botão de pagamento */
.pagamento-voltar {
  width:16vh;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: rgb(250, 133, 0);
  background: radial-gradient(circle, rgb(250, 133, 0) 0%, rgb(255, 179, 15) 100%);
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: -9vh;  
  transition: background-color 0.3s ease, transform 0.2s ease;
  
}

.pagamento-voltar:hover {
  background-color: #ff9c33;
  transform: translateY(-2px);
}
