
.botao-reserva{
    margin-top: 0.5vh;
    color: black;
    background-color: rgb(250, 133, 0);
    font-size: 2vh;
    margin-left: -30vh;
}

.texto-aco-domo{
    margin-top: 17vh;
    width: 135vh;
}



.reservar{
    position: absolute;
    margin-top: 70vh;
    margin-left: 125vh;
    text-align: right;
}

.img-acomodacao-domo{
    margin-top: 20vh;
    height: 30vh;
    border-radius: 2vh;
    width: 40vh;
}

.h2-domo{
margin-top:-25vh;
margin-left: 40vh;
padding: 10vh;
color: #000000;
}


h3{
   margin-top: -15vh;
   margin-left: 22vh;
}
.container-principal, body{
    background-color:rgb(249, 239, 226)
}
  