.main-home{
    background-color: #2f2f55;
    width: 100vw;
    height: 100vh;
}

.texto{
    color: white;
    text-align: center;
    position: relative;
    top: 70%;
}

.ibagem-fundo{
background-image: url(../images/fundo-pousada);
}