@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Anatolian+Hieroglyphs&display=swap');

.main-inicio{
    background-color: #000000;
    margin: auto;
}

.texto{
    color: white;
    text-align: center;
    position: relative;
    top: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.imagem-fundo{
    margin: auto;
    display: block;
    width: 200vh;
}

.btn-8 {
    background: rgb(250, 133, 0);
    background: radial-gradient(circle, rgb(250, 133, 0) 0%, rgb(255, 179, 15) 100%);
    border-radius: 16px;
    line-height: 42px;
    color: white;
    font-size: 25px;
    transition: color 0.3s ease;
    text-align: center;
    width: 10%;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  /* CONTAINER PARA A PARTE DE BAIXO */

.container-principal{
    background-color: whitesmoke;
    padding: 2.5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.img-acomodacao{
    height: 15vw;
    border-radius: 2vh;
}

.texto-aco{
    min-height: 100px;
    width: 50%;
    font-family: "Noto Sans Anatolian Hieroglyphs", sans-serif;
    padding-bottom: 7vh; /* Espaço entre o texto e a linha */
    display: flex;
    flex-direction: column;
}

.valordiv{
    display: flex;
    flex-direction: column;
    width:600px;
}

.Pagamento{
    text-align: left;
    font-family: "Noto Sans Anatolian Hieroglyphs", sans-serif;
}

.Valor{
    max-height: fit-content;
    max-width: fit-content;
    padding: 7px;
    text-align: left;
    font-family: "Noto Sans Anatolian Hieroglyphs", sans-serif;
}
button.Valor{
    color: rgb(0, 0, 0);
    background-color: rgb(196, 135, 61);
    max-width: fit-content;
    max-height: min-content;
}

hr {
    border-top: 2px solid black;
    margin-top: 100px; /* Ajuste este valor conforme necessário */
    margin-bottom: 20px; /* Também pode ser ajustado */
}