/* CSS Global */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura total */
  overflow-x: hidden; /* Remove a scrollbar horizontal */
}

/* CENTRALIZAR A PRR DAS MERDAS DOS CONTEINERS */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden; /* Remove a scrollbar horizontal */
}


/* CSS DA NAVBAR TENEBROSA!!!!!!!! */

/* Navbar styles */
.bg-body-tertiary {
  background: rgb(47, 47, 85);
  color: white;
  padding: 0.2rem; /* Reduzido para afinar a navbar */
  border-bottom: 1px solid #444;
  position: absolute;
  top: 0;
  right: 10%;
  width: 80%; /* Corrigido para 100% da largura */
  z-index: 1000;
  height: 4rem; /* Altura específica definida para afinar a navbar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
  overflow: hidden; /* Esconde animações fora dos limites da navbar */

}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; /* Animação de cor e movimento */
  margin-left: 20px; /* Adiciona margem à esquerda para espaçar do lado esquerdo */
}

.navbar-brand:hover {
  color: #ccc;
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

.navbar-toggler {
  border: none;
  background-color: #444;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem; /* Corrigido o tamanho da fonte */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 20px; /* Adiciona margem à direita para espaçar do final da navbar */
}

.navbar-toggler:hover {
  background-color: #555;
  transform: rotate(90deg); /* Animação de rotação ao passar o mouse */
}

.navbar-collapse {
  justify-content: flex-end; /* Alinha os itens da navbar para a direita */
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 50px;
  font-weight: bold;
  position: relative;
  overflow: hidden; /* Esconde o efeito de borda animada fora do link */
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease, left 0.3s ease;
  z-index: 1;
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
}

.nav-link:hover {
  color: #ffffff;
  transform: translateY(-3px);
}



main {
  padding-top: 60px; /* Ajuste conforme a altura da navbar */
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
    margin-left: 10px; /* Reduzido para telas menores */
  }
  .nav-link {
    margin: 10px;
  }
  .nav-dropdown-menu {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-brand {
    font-size: 1rem;
    margin-left: 5px; /* Reduzido para telas menores */
  }
  .nav-link {
    margin: 0 5px;
  }
  .nav-dropdown-menu {
    width: 100%;
    padding: 5px;
  }
}
/*navbar ate aqui*/